:root {
	/* Color Palette */
	--color-text-primary: #032114;
	--color-text-secondary: #d8f8f0;
	--color-background: #f1fefb;
	--color-primary: #4382ff;
	--color-secondary: #446ed0;
	--color-accent: #4790f0;

	/* Font Weights */
	--font-weight-thin: 100;
	--font-weight-extralight: 200;
	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--font-weight-extrabold: 800;
	--font-weight-black: 900;

	/* Font Sizes */
	--font-size-xs-extra: 0.5rem;
	--font-size-xs: 0.75rem;
	--font-size-sm: 0.875rem;
	--font-size-md: 1rem;
	--font-size-lg: 1.125rem;
	--font-size-xl: 1.25rem;
	--font-size-2xl: 1.5rem;
	--font-size-3xl: 2rem;

	/* Spacing (Padding/margin) */
	--space-xxs: 0.25rem;
	--space-xs: 0.5rem;
	--space-sm: 0.75rem;
	--space-md: 1rem;
	--space-lg: 1.5rem;
	--space-xl: 2rem;
	--space-2xl: 3rem;

	/* Border radiuses  */
	--radius-sm: 0.25rem;
	--radius-md: 0.5rem;
	--radius-lg: 0.75rem;
	--radius-xl: 1rem;
	--radius-xxl: 2rem;
	--radius-xxxl: 5rem;
	--radius-full: 9999rem;
}
.dark {
	--color-text-primary: #e2f6fd;
	--color-text-secondary: #e2f6fd;
	--color-background: #020921;
	--color-primary: #510aa9;
	--color-secondary: #6e06ef;
	--color-accent: #5311e1;
}

html,
body {
	transition:
		color 100ms ease-in-out,
		box-shadow 100ms ease-in-out,
		background-color 300ms ease-in 100ms;
	max-width: 100vw;
	overflow-x: clip;
}

body {
	background-color: var(--color-background);
	color: var(--color-text-primary);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}
