:root {
	/* Color Palette */
	--color-primary: #050b2b;
	--color-secondary: #0a1469;
	--color-tertiary: #192d6a;
	--color-quaternary: #2f4ba7;
	--color-quinary: #4a6cd4;
	--color-senary: #829bff;
	--color-septenary: #b8c7ff;
	--color-octonary: #4cc9f0;
	--color-nonary: #00c3ff;

	/* Font Weights */
	--font-weight-thin: 100;
	--font-weight-extralight: 200;
	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--font-weight-extrabold: 800;
	--font-weight-black: 900;

	/* Font Sizes */
	--font-size-xs: 0.75rem;
	--font-size-sm: 0.875rem;
	--font-size-md: 1rem;
	--font-size-lg: 1.125rem;
	--font-size-xl: 1.25rem;
	--font-size-2xl: 1.5rem;
	--font-size-3xl: 2rem;

	/* Spacing (Padding/margin) */
	--space-xxs: 0.25rem;
	--space-xs: 0.5rem;
	--space-sm: 0.75rem;
	--space-md: 1rem;
	--space-lg: 1.5rem;
	--space-xl: 2rem;
	--space-2xl: 3rem;

	/* Border radiuses  */
	--radius-sm: 0.25rem;
	--radius-md: 0.5rem;
	--radius-lg: 0.75rem;
	--radius-xl: 1rem;
	--radius-full: 9999rem;

	/* Breakpoints (used for reference in CSS/JS) */
	--breakpoint-xs: 320px; /* Small phones */
	--breakpoint-sm: 480px; /* Phones */
	--breakpoint-md: 768px; /* Tablets */
	--breakpoint-lg: 1024px; /* Laptops */
	--breakpoint-xl: 1280px; /* Desktops */
	--breakpoint-2xl: 1536px; /* Large screens */
}

/* @media (prefers-color-scheme: dark) {} */

html,
body {
	max-width: 100vw;
	overflow-x: clip;
}

body {
	font-family: var(--font-rubik);
	background-color: var(--color-primary);
	color: var(--color-septenary);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}
